﻿
@{
    ViewBag.Title = "Index";
}
<style>
    /*Adding some aditional style to the table*/
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>Employees</h2>
<div id="header">
    <label>Employee id: </label>
    <input type="text" id="EmployeeId" />
    <input type="button" id="btnSearch" value="Search" />
</div>
<hr />
<div id="loading" >loading data...</div>
<div id="tableInfo" class="table-responsive">

    <table id="table_employee"></table>
</div>
<script>
    //Using javascript and boostrap
    //Loading all employees on the load event
    window.addEventListener("load", () => {

        var host = window.location.host;
        var url = 'http://' + host + '/api/getEmployeesAFGV';
        renderEmployeeInfo(url);

    });


    var SearchButton = document.querySelector("#btnSearch");
    SearchButton.addEventListener('click', (event) => {
        var loading = document.querySelector('#loading');
        loading.style.display = "block";

        var id = document.querySelector("#EmployeeId").value;
        var host = window.location.host;
        var url = 'http://' + host + '/api/getEmployeesAFGV';
        if (id != "") {
            url = url + "/" + id;
        }
        cleanTable();
        renderEmployeeInfo(url);

    });

    function cleanTable() {
        var tableHtml = document.querySelector("#table_employee");
        while (tableHtml.hasChildNodes()) {
            tableHtml.removeChild(tableHtml.firstChild);
        }
    }

    function renderEmployeeInfo(url) {

        var id = document.querySelector("#EmployeeId").value;
        var host = window.location.host;

        var url = 'http://' + host + '/api/getEmployeesAFGV';

        if (id != "") {
            url = url + "/" + id;
        }
        //Making the request with the fetch method to the local API
        fetch(url)
            .then(function (response) {

                return response.json();
            })
            .then(function (myJson) {

                //reciving the response from the main API
                console.log("Json from API: " + myJson);
                var json = JSON.parse(myJson.response_ws);
                showTable(json);

                var loading = document.querySelector('#loading');
                loading.style.display = "none";
            });
    }

    function showTable(json) {
        //Capturing the HTML table
        var tableHtml = document.querySelector("#table_employee");

        //Populating data
        var tr = document.createElement("tr");
        var tdId = document.createElement("td");
        tdId.append("Id");
        tr.append(tdId);
        var tdName = document.createElement("td");
        tdName.append("Name");
        tr.append(tdName);
        var tdContractType = document.createElement("td");
        tdContractType.append("Contract Type");
        tr.append(tdContractType);

        var tdRoleIdentifier = document.createElement("td");
        tdRoleIdentifier.append("Role identifier");
        tr.append(tdRoleIdentifier);

        var tdRole = document.createElement("td");
        tdRole.append("Role");
        tr.append(tdRole);
        var tdsalary = document.createElement("td");
        tdsalary.append("Annual Salary");
        tr.append(tdsalary);
        tableHtml.append(tr);

        for (let indice in json) {
            var Employee = json[indice];
            var tr = document.createElement("tr");

            var td = document.createElement("td");
            td.append(Employee.id);
            tr.append(td);
            var td1 = document.createElement("td");
            td1.append(Employee.Name);
            tr.append(td1);
            var td2 = document.createElement("td");
            td2.append(Employee.ContractType);
            tr.append(td2);
            var td3 = document.createElement("td");
            td3.append(Employee.RoleIdentifier);
            tr.append(td3);
            var td4 = document.createElement("td");
            td4.append(Employee.Role);
            tr.append(td4);
            var td6 = document.createElement("td");
            td6.append(Employee.salary);
            tr.append(td6);
            tableHtml.append(tr);

        }

    }


</script>
